body {
    margin: 0;
    font-family: Arial;
    background: #EFE3CA;
}

/* LAYOUT */
.container {
    display: grid;
    grid-template-columns: 260px 1fr;
}

/* SIDEBAR */
.sidebar {
    background: #170C79;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.logo-circle img {
    width: 60px;
    border-radius: 50%;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

.menu-item.active {
    background: #56B6C6;
}

/* MAIN */
.main {
    padding: 20px;
}

/* CARDS */
.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* BUTTONS */
.btn {
    background: #56B6C6;
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
}

.btn-danger {
    background: red;
}

/* TABLE */
table {
    width: 100%;
    background: white;
}

th, td {
    padding: 8px;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

.anomaly {
    border-left: 5px solid red;
}

.maintenance {
    border-left: 5px solid #56B6C6;
}
