<!DOCTYPE html>
<html>
<head>
    <title>Water Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Water Forecast System</h2>

<!-- JSON INPUT -->
<h3>JSON Input</h3>
<textarea id="jsonInput"></textarea>

<!-- CSV INPUT -->
<h3>Upload CSV</h3>
<input type="file" id="csvFile">

<!-- Maintenance input -->
<h3>Maintenance Month (1–12)</h3>
<input type="number" id="maintenanceMonth" min="1" max="12">

<br><br>
<button onclick="sendData()">Forecast</button>

<h3>Result:</h3>
<pre id="result"></pre>

<canvas id="chart" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
